__pycache__/
*.pyc
*.egg-info/
dist/
build/
logs/
.claude/
*.log
checkpoints/
results/
tutorials/output/
site/
.cache/
**mase/
**fast-hadamard-transform/
**calib/
.venv
llama_results/
llama_logs/
.pytest_cache/
*.vcd
